<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Untree.co">
        <link rel="shortcut icon" href="/images/favicon.png">

        <meta name="description" content="" />
        <meta name="keywords" content="bootstrap, bootstrap4" />
        <!-- Bootstrap CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link href="css/tiny-slider.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="css/core-style.css">
        <title>Furni - Furniture and Interior Design</title>
    </head>

    <body>
        <!-- Header -->
        <header th:replace="fragments/header :: header"></header>

        <!-- Content section -->
        <main>
            <div layout:fragment="content">
                <!-- Nội dung của từng trang sẽ được chèn vào đây -->
            </div>
        </main>

        <!-- Footer -->
        <footer th:replace="fragments/footer :: footer"></footer>
        <!-- Back to Top -->
        <a href="#" class="back-to-top" title="Click to return on the top page">
            <i class="fa fa-angle-double-up"></i>
        </a>

        <!-- Scripts chung -->
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


        <!-- Template Javascript -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/tiny-slider.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/main.js"></script>

        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="js/plugins.js"></script>
        <!-- Active js -->
        <script src="js/active.js"></script>

        <!-- Chỗ để các trang con thêm script riêng -->
        <th:block layout:fragment="scripts"></th:block>
    </body>

</html>