<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="admin/fragments/head :: head">
        <title>Chỉnh sửa Sản phẩm</title>
    </head>

    <body>
        <div class="d-flex wrapper">
            <!-- Sidebar -->
            <div th:replace="admin/fragments/sidebar :: sidebar" class="sidebar-container"></div>

            <div class="flex-grow-1 main-content">
                <!-- Navbar -->
                <nav th:replace="admin/fragments/navbar :: navbar"></nav>

                <!-- Content here -->
                <div class="p-1 min-vh-100 content">

                    <div class="container-fluid">
                        <div class="mb-4 row">
                            <div class="col-12">
                                <h1 class="h3">Chỉnh sửa Sản phẩm</h1>
                            </div>
                        </div>

                        <!-- Form Sản phẩm -->
                        <form id="productForm" th:action="@{/api/admin/products/update/{id}(id=${product.id})}"
                            method="post" th:object="${product}" enctype="multipart/form-data">
                            <input type="hidden" name="_method" value="PUT">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="mb-4 card">
                                        <div class="card-header">
                                            <h5 class="card-title">Thông tin Cơ bản</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <!-- Thêm một trường ẩn cho productId -->
                                                <input type="hidden" id="productId" th:value="${id}">
                                                <div class="mb-3 col-md-6">
                                                    <label class="form-label">Tên Sản phẩm</label>
                                                    <input type="text" class="form-control" th:field="*{productName}"
                                                        placeholder="Nhập tên sản phẩm" required>
                                                    <div class="text-danger" th:if="${#fields.hasErrors('productName')}"
                                                        th:errors="*{productName}"></div>
                                                </div>
                                                <!-- <div class="mb-3 col-md-6">
                                                    <label class="form-label">Mã Sản phẩm</label>
                                                    <input type="text" class="form-control" th:field="*{code}"
                                                        placeholder="Mã sản phẩm" required>
                                                </div> -->
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Mô tả Chi tiết</label>
                                                <textarea class="form-control summernote" th:field="*{description}"
                                                    rows="5" placeholder="Mô tả chi tiết sản phẩm"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-4 card">
                                        <div class="card-header">
                                            <h5 class="card-title">Giá và Tồn kho</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="mb-3 col-md-4">
                                                    <label class="form-label">Giá Bán</label>
                                                    <div class="input-group">
                                                        <input type="number" class="form-control" th:field="*{price}"
                                                            placeholder="0" required>
                                                        <span class="input-group-text">USD</span>
                                                    </div>
                                                </div>
                                                <div class="mb-3 col-md-4">
                                                    <label class="form-label">Số lượng Tồn kho</label>
                                                    <input type="number" class="form-control"
                                                        th:field="*{stockQuantity}" placeholder="0" min="0" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-4 card">
                                        <div class="card-header">
                                            <h5 class="card-title">Hình ảnh Sản phẩm</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label class="form-label">Hình ảnh Chính</label>
                                                <div class="input-group">
                                                    <!-- Input file -->
                                                    <input type="file" class="form-control" name="imageUrl"
                                                        accept="image/*" th:field="*{imageUrl}" id="imageInput"
                                                        onchange="previewImage(event)">

                                                    <!-- Nút Hủy -->
                                                    <button type="button" class="btn btn-danger" id="clearImageBtn"
                                                        style="display: none;" onclick="clearImage()"><i
                                                            class="fa-times fas"></i></button>
                                                </div>

                                                <div class="d-flex align-items-center gap-2 mt-2">
                                                    <div th:if="${product.imageUrl}" class="d-flex flex-column">
                                                        <img th:src="@{${product.imageUrl}}" alt="Hình ảnh hiện tại"
                                                            class="img-thumbnail"
                                                            style="max-width: 350px; height: 300px; object-fit: cover;">
                                                        <label class="form-label">Hình ảnh Hiện Tại</label>
                                                    </div>

                                                    <!-- Hiển thị ảnh preview nếu có -->
                                                    <div id="imagePreviewContainer" style="display: none;">
                                                        <img id="imagePreview" class="img-thumbnail"
                                                            style="max-width: 350px; height: 300px; object-fit: cover;">
                                                        <label class="form-label">Hình ảnh Cập Nhật</label>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    <div class="mb-4 card">
                                        <div class="card-header">
                                            <h5 class="card-title">Danh mục</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <!-- <div th:each="category : ${categories}">
                                                    <p th:text="${category.id}"></p>
                                                    <p th:text="${category.categoryName}"></p>
                                                </div> -->

                                                <label class="form-label">Danh mục</label>
                                                <select class="form-control" th:field="*{category}" required>
                                                    <option value="">Chọn Danh mục</option>
                                                    <option th:each="category : ${categories}" th:value="${category.id}"
                                                        th:selected="${category.id == product.category.id}"
                                                        th:text="${category.categoryName}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Nút Lưu -->
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa-save fas"></i> Cập nhật Sản phẩm
                                    </button>
                                    <a th:href="@{/admin/products}" class="ml-2 btn btn-secondary">
                                        <i class="fa-times fas"></i> Hủy
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <footer th:replace="admin/fragments/footer :: footer"></footer>

                <script>
                    document.getElementById("productForm").addEventListener("submit", function (event) {
                        event.preventDefault(); // Ngừng gửi form để kiểm tra dữ liệu trước

                        // Tạo FormData từ form
                        var formData = new FormData(this);

                        // Kiểm tra tất cả các dữ liệu trong FormData
                        for (var pair of formData.entries()) {
                            console.log(pair[0] + ": " + pair[1]); // In tên và giá trị của từng field
                        }

                        // Gửi formData tới server sau khi kiểm tra
                        fetch('/api/admin/products/update/' + document.getElementById("productId").value, {
                            method: 'PUT',
                            body: formData
                        }).then(response => {
                            if (response.ok) {
                                // Nếu server trả về thành công (HTTP 200)
                                window.location.href = '/admin/products'; // Chuyển hướng đến trang danh sách sản phẩm
                            } else {
                                // Nếu có lỗi (HTTP 400, 500,...)
                                return response.json().then(data => {
                                    // Xử lý lỗi từ server và hiển thị thông báo lỗi
                                    alert('Có lỗi xảy ra: ' + data.message || 'Không thể cập nhật sản phẩm');
                                });
                            }
                        })
                            .catch(error => {
                                // Xử lý lỗi mạng hoặc lỗi khi gọi API
                                alert('Có lỗi xảy ra: ' + error.message);
                            });
                    });


                    // Hàm xem trước ảnh
                    function previewImage(event) {
                        var imageInput = event.target; // Input file
                        var imagePreview = document.getElementById('imagePreview'); // Thẻ img để hiển thị preview
                        var clearImageBtn = document.getElementById('clearImageBtn'); // Nút hủy

                        imagePreview.src = URL.createObjectURL(imageInput.files[0]); // Tạo URL từ file đã chọn
                        imagePreview.style.display = 'block'; // Hiển thị ảnh preview
                        document.getElementById('imagePreviewContainer').style.display = 'block'; // Hiển thị container chứa ảnh preview
                        clearImageBtn.style.display = 'inline-block'; // Hiển thị nút hủy
                    }

                    // Hàm hủy ảnh preview
                    function clearImage() {
                        // Xóa file đã chọn trong input
                        var imageInput = document.getElementById('imageInput');
                        imageInput.value = ""; // Reset input file về trạng thái không có file nào

                        // Ẩn ảnh preview
                        document.getElementById('imagePreviewContainer').style.display = 'none';
                        document.getElementById('imagePreview').src = ""; // Xóa URL của ảnh preview

                        // Ẩn nút hủy
                        document.getElementById('clearImageBtn').style.display = 'none';
                    }

                </script>

            </div>
        </div>
    </body>

</html>