<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main-layout}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Furni - Furniture and Interior Design</title>
    </head>

    <body>

        <div layout:fragment="content">
            <!-- Start Hero Section -->
            <div class="hero">
                <div class="container">
                    <div class="justify-content-between row">
                        <div class="col-lg-5">
                            <div class="intro-excerpt">
                                <h1>Blog</h1>
                                <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit.
                                    Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
                                <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#"
                                        class="btn btn-white-outline">Explore</a></p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="hero-img-wrap">
                                <img src="images/couch.png" class="img-fluid" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Hero Section -->



            <!-- Start Blog Section -->
            <div class="blog-section">
                <div class="container">

                    <div class="row">

                        <div class="col-sm-6 mb-5 col-12 col-md-4">
                            <div class="post-entry">
                                <a href="#" class="post-thumbnail"><img src="images/post-1.jpg" alt="Image"
                                        class="img-fluid"></a>
                                <div class="post-content-entry">
                                    <h3><a href="#">First Time Home Owner Ideas</a></h3>
                                    <div class="meta">
                                        <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 19,
                                                2021</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-5 col-12 col-md-4">
                            <div class="post-entry">
                                <a href="#" class="post-thumbnail"><img src="images/post-2.jpg" alt="Image"
                                        class="img-fluid"></a>
                                <div class="post-content-entry">
                                    <h3><a href="#">How To Keep Your Furniture Clean</a></h3>
                                    <div class="meta">
                                        <span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Dec 15,
                                                2021</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-5 col-12 col-md-4">
                            <div class="post-entry">
                                <a href="#" class="post-thumbnail"><img src="images/post-3.jpg" alt="Image"
                                        class="img-fluid"></a>
                                <div class="post-content-entry">
                                    <h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
                                    <div class="meta">
                                        <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 12,
                                                2021</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-5 col-12 col-md-4">
                            <div class="post-entry">
                                <a href="#" class="post-thumbnail"><img src="images/post-1.jpg" alt="Image"
                                        class="img-fluid"></a>
                                <div class="post-content-entry">
                                    <h3><a href="#">First Time Home Owner Ideas</a></h3>
                                    <div class="meta">
                                        <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 19,
                                                2021</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-5 col-12 col-md-4">
                            <div class="post-entry">
                                <a href="#" class="post-thumbnail"><img src="images/post-2.jpg" alt="Image"
                                        class="img-fluid"></a>
                                <div class="post-content-entry">
                                    <h3><a href="#">How To Keep Your Furniture Clean</a></h3>
                                    <div class="meta">
                                        <span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Dec 15,
                                                2021</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-5 col-12 col-md-4">
                            <div class="post-entry">
                                <a href="#" class="post-thumbnail"><img src="images/post-3.jpg" alt="Image"
                                        class="img-fluid"></a>
                                <div class="post-content-entry">
                                    <h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
                                    <div class="meta">
                                        <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 12,
                                                2021</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-5 col-12 col-md-4">
                            <div class="post-entry">
                                <a href="#" class="post-thumbnail"><img src="images/post-1.jpg" alt="Image"
                                        class="img-fluid"></a>
                                <div class="post-content-entry">
                                    <h3><a href="#">First Time Home Owner Ideas</a></h3>
                                    <div class="meta">
                                        <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 19,
                                                2021</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-5 col-12 col-md-4">
                            <div class="post-entry">
                                <a href="#" class="post-thumbnail"><img src="images/post-2.jpg" alt="Image"
                                        class="img-fluid"></a>
                                <div class="post-content-entry">
                                    <h3><a href="#">How To Keep Your Furniture Clean</a></h3>
                                    <div class="meta">
                                        <span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Dec 15,
                                                2021</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-5 col-12 col-md-4">
                            <div class="post-entry">
                                <a href="#" class="post-thumbnail"><img src="images/post-3.jpg" alt="Image"
                                        class="img-fluid"></a>
                                <div class="post-content-entry">
                                    <h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
                                    <div class="meta">
                                        <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 12,
                                                2021</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Blog Section -->



            <!-- Start Testimonial Slider -->
            <div class="before-footer-section testimonial-section">
                <div class="container">
                    <div class="row">
                        <div class="mx-auto text-center col-lg-7">
                            <h2 class="section-title">Testimonials</h2>
                        </div>
                    </div>

                    <div class="justify-content-center row">
                        <div class="col-lg-12">
                            <div class="text-center testimonial-slider-wrap">

                                <div id="testimonial-nav">
                                    <span class="prev" data-controls="prev"><span
                                            class="fa-chevron-left fa"></span></span>
                                    <span class="next" data-controls="next"><span
                                            class="fa-chevron-right fa"></span></span>
                                </div>

                                <div class="testimonial-slider">

                                    <div class="item">
                                        <div class="justify-content-center row">
                                            <div class="mx-auto col-lg-8">

                                                <div class="testimonial-block text-center">
                                                    <blockquote class="mb-5">
                                                        <p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec
                                                            vitae
                                                            odio quis nisl dapibus malesuada. Nullam ac aliquet velit.
                                                            Aliquam vulputate velit imperdiet dolor tempor tristique.
                                                            Pellentesque habitant morbi tristique senectus et netus et
                                                            malesuada fames ac turpis egestas. Integer convallis
                                                            volutpat
                                                            dui quis scelerisque.&rdquo;</p>
                                                    </blockquote>

                                                    <div class="author-info">
                                                        <div class="author-pic">
                                                            <img src="images/person-1.png" alt="Maria Jones"
                                                                class="img-fluid">
                                                        </div>
                                                        <h3 class="font-weight-bold">Maria Jones</h3>
                                                        <span class="d-block mb-3 position">CEO, Co-Founder, XYZ
                                                            Inc.</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- END item -->

                                    <div class="item">
                                        <div class="justify-content-center row">
                                            <div class="mx-auto col-lg-8">

                                                <div class="testimonial-block text-center">
                                                    <blockquote class="mb-5">
                                                        <p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec
                                                            vitae
                                                            odio quis nisl dapibus malesuada. Nullam ac aliquet velit.
                                                            Aliquam vulputate velit imperdiet dolor tempor tristique.
                                                            Pellentesque habitant morbi tristique senectus et netus et
                                                            malesuada fames ac turpis egestas. Integer convallis
                                                            volutpat
                                                            dui quis scelerisque.&rdquo;</p>
                                                    </blockquote>

                                                    <div class="author-info">
                                                        <div class="author-pic">
                                                            <img src="images/person-1.png" alt="Maria Jones"
                                                                class="img-fluid">
                                                        </div>
                                                        <h3 class="font-weight-bold">Maria Jones</h3>
                                                        <span class="d-block mb-3 position">CEO, Co-Founder, XYZ
                                                            Inc.</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- END item -->

                                    <div class="item">
                                        <div class="justify-content-center row">
                                            <div class="mx-auto col-lg-8">

                                                <div class="testimonial-block text-center">
                                                    <blockquote class="mb-5">
                                                        <p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec
                                                            vitae
                                                            odio quis nisl dapibus malesuada. Nullam ac aliquet velit.
                                                            Aliquam vulputate velit imperdiet dolor tempor tristique.
                                                            Pellentesque habitant morbi tristique senectus et netus et
                                                            malesuada fames ac turpis egestas. Integer convallis
                                                            volutpat
                                                            dui quis scelerisque.&rdquo;</p>
                                                    </blockquote>

                                                    <div class="author-info">
                                                        <div class="author-pic">
                                                            <img src="images/person-1.png" alt="Maria Jones"
                                                                class="img-fluid">
                                                        </div>
                                                        <h3 class="font-weight-bold">Maria Jones</h3>
                                                        <span class="d-block mb-3 position">CEO, Co-Founder, XYZ
                                                            Inc.</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- END item -->

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Testimonial Slider -->

        </div>

    </body>

</html>