<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main-layout}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Furni - Furniture and Interior Design</title>
    </head>

    <body>

        <div layout:fragment="content">

            <div class="before-footer-section untree_co-section">
                <div class="container">
                    <div class="mb-5 row">
                        <form class="col-md-12" method="post">
                            <div class="site-blocks-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Image</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-total">Total</th>
                                            <th class="product-remove">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="product-thumbnail">
                                                <img src="images/product-1.png" alt="Image" class="img-fluid">
                                            </td>
                                            <td class="product-name">
                                                <h2 class="text-black h5">Product 1</h2>
                                            </td>
                                            <td>$49.00</td>
                                            <td>
                                                <div class="d-flex align-items-center mb-3 input-group quantity-container"
                                                    style="max-width: 120px;">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-black decrease"
                                                            type="button">&minus;</button>
                                                    </div>
                                                    <input type="text" class="border-0 form-control text-center quantity-amount"
                                                        value="1" placeholder=""
                                                        aria-label="Example text with button addon"
                                                        aria-describedby="button-addon1">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-black increase"
                                                            type="button">&plus;</button>
                                                    </div>
                                                </div>

                                            </td>
                                            <td>$49.00</td>
                                            <td><a href="#" class="btn btn-black btn-sm">X</a></td>
                                        </tr>

                                        <tr>
                                            <td class="product-thumbnail">
                                                <img src="images/product-2.png" alt="Image" class="img-fluid">
                                            </td>
                                            <td class="product-name">
                                                <h2 class="text-black h5">Product 2</h2>
                                            </td>
                                            <td>$49.00</td>
                                            <td>
                                                <div class="d-flex align-items-center mb-3 input-group quantity-container"
                                                    style="max-width: 120px;">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-black decrease"
                                                            type="button">&minus;</button>
                                                    </div>
                                                    <input type="text" class="border-0 form-control text-center quantity-amount"
                                                        value="1" placeholder=""
                                                        aria-label="Example text with button addon"
                                                        aria-describedby="button-addon1">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-black increase"
                                                            type="button">&plus;</button>
                                                    </div>
                                                </div>

                                            </td>
                                            <td>$49.00</td>
                                            <td><a href="#" class="btn btn-black btn-sm">X</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-5 row">
                                <div class="mb-3 mb-md-0 col-md-6">
                                    <button class="btn-block btn btn-black btn-sm">Update Cart</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn-block btn btn-outline-black btn-sm">Continue Shopping</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="text-black h4" for="coupon">Coupon</label>
                                    <p>Enter your coupon code if you have one.</p>
                                </div>
                                <div class="mb-3 mb-md-0 col-md-8">
                                    <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-black">Apply Coupon</button>
                                </div>
                            </div>
                        </div>
                        <div class="pl-5 col-md-6">
                            <div class="justify-content-end row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="text-right mb-5 border-bottom col-md-12">
                                            <h3 class="text-black text-uppercase h4">Cart Totals</h3>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-md-6">
                                            <span class="text-black">Subtotal</span>
                                        </div>
                                        <div class="text-right col-md-6">
                                            <strong class="text-black">$230.00</strong>
                                        </div>
                                    </div>
                                    <div class="mb-5 row">
                                        <div class="col-md-6">
                                            <span class="text-black">Total</span>
                                        </div>
                                        <div class="text-right col-md-6">
                                            <strong class="text-black">$230.00</strong>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn-block py-3 btn btn-black btn-lg" href='/checkout'>Proceed To
                                                Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>