<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main-layout}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Furni - Furniture and Interior Design</title>
        <style>
        </style>
    </head>

    <body>
        <div layout:fragment="content">
            <!-- ##### Main Content Wrapper Start ##### -->
            <div class="clearfix d-flex main-content-wrapper px-5 container-fluid">

                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="mb-15 catagory widget">
                        <!-- Widget Title -->
                        <h6 class="widget-title">Catagories</h6>

                        <!--  Catagories  -->
                        <div class="catagories-menu">
                            <ul>
                                <li class="active"><a href="#">Chairs</a></li>
                                <li><a href="#">Beds</a></li>
                                <li><a href="#">Accesories</a></li>
                                <li><a href="#">Furniture</a></li>
                                <li><a href="#">Home Deco</a></li>
                                <li><a href="#">Dressings</a></li>
                                <li><a href="#">Tables</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="mb-15 brands widget">
                        <!-- Widget Title -->
                        <h6 class="widget-title">Brands</h6>

                        <div class="widget-desc">
                            <!-- Single Form Check -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="amado">
                                <label class="form-check-label" for="amado">Amado</label>
                            </div>
                            <!-- Single Form Check -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="ikea">
                                <label class="form-check-label" for="ikea">Ikea</label>
                            </div>
                            <!-- Single Form Check -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="furniture">
                                <label class="form-check-label" for="furniture">Furniture Inc</label>
                            </div>
                            <!-- Single Form Check -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="factory">
                                <label class="form-check-label" for="factory">The factory</label>
                            </div>
                            <!-- Single Form Check -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="artdeco">
                                <label class="form-check-label" for="artdeco">Artdeco</label>
                            </div>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="mb-15 color widget">
                        <!-- Widget Title -->
                        <h6 class="widget-title">Color</h6>

                        <div class="widget-desc">
                            <ul class="d-flex">
                                <li><a href="#" class="color1"></a></li>
                                <li><a href="#" class="color2"></a></li>
                                <li><a href="#" class="color3"></a></li>
                                <li><a href="#" class="color4"></a></li>
                                <li><a href="#" class="color5"></a></li>
                                <li><a href="#" class="color6"></a></li>
                                <li><a href="#" class="color7"></a></li>
                                <li><a href="#" class="color8"></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="mb-15 price widget">
                        <!-- Widget Title -->
                        <h6 class="widget-title">Price</h6>

                        <div class="widget-desc">
                            <div class="slider-range">
                                <div data-min="10" data-max="1000" data-unit="$"
                                    class="slider-range-price ui-corner-all ui-slider ui-slider-horizontal ui-widget ui-widget-content"
                                    data-value-min="10" data-value-max="1000" data-label-result="">
                                    <div class="ui-corner-all ui-slider-range ui-widget-header"></div>
                                    <span class="ui-corner-all ui-slider-handle ui-state-default" tabindex="0"></span>
                                    <span class="ui-corner-all ui-slider-handle ui-state-default" tabindex="0"></span>
                                </div>
                                <div class="range-price">$10 - $1000</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="amado_product_area section-padding-100">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-xl-flex justify-content-between align-items-end">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p>Showing 1-8 0f 25</p>
                                        <div class="d-flex view">
                                            <a href="#"><i class="fa-th-large fa" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <!-- Sorting -->
                                    <div class="d-flex product-sorting">
                                        <div class="d-flex align-items-center mr-15 sort-by-date">
                                            <p>Sort by</p>
                                            <form action="#" method="get">
                                                <select name="select" id="sortBydate">
                                                    <option value="value">Date</option>
                                                    <option value="value">Newest</option>
                                                    <option value="value">Popular</option>
                                                </select>
                                            </form>
                                        </div>
                                        <div class="d-flex align-items-center view-product">
                                            <p>View</p>
                                            <form action="#" method="get">
                                                <select name="select" id="viewProduct">
                                                    <option value="value">12</option>
                                                    <option value="value">24</option>
                                                    <option value="value">48</option>
                                                    <option value="value">96</option>
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product-section">
                            <div class="container">
                                <div class="row">

                                    <!-- Start Column 1 -->
                                    <div th:each="product : ${products}" class="mb-5 col-12 col-lg-3 col-md-4">
                                        <a class="product-item" href="#">
                                            <img th:src="${product.imageUrl}" class="img-fluid product-thumbnail"
                                                alt="product image">
                                            <h3 th:text="${product.productName}" class="product-title">Nordic Chair</h3>
                                            <strong th:text="${'$' + product.price}"
                                                class="product-price">$50.00</strong>
                                            <span class="icon-cross">
                                                <img src="images/cross.svg" class="img-fluid" alt="cross image">
                                            </span>
                                        </a>
                                    </div>
                                    <!-- End Column 1 -->

                                    <!-- Start Column 2 -->
                                    <div class="mb-5 col-12 col-lg-3 col-md-4">
                                        <a class="product-item" href="#">
                                            <img src="images/product-1.png" class="img-fluid product-thumbnail">
                                            <h3 class="product-title">Nordic Chair</h3>
                                            <strong class="product-price">$50.00</strong>

                                            <span class="icon-cross">
                                                <img src="images/cross.svg" class="img-fluid">
                                            </span>
                                        </a>
                                    </div>
                                    <!-- End Column 2 -->

                                    <!-- Start Column 3 -->
                                    <div class="mb-5 col-12 col-lg-3 col-md-4">
                                        <a class="product-item" href="#">
                                            <img src="images/product-2.png" class="img-fluid product-thumbnail">
                                            <h3 class="product-title">Kruzo Aero Chair</h3>
                                            <strong class="product-price">$78.00</strong>

                                            <span class="icon-cross">
                                                <img src="images/cross.svg" class="img-fluid">
                                            </span>
                                        </a>
                                    </div>
                                    <!-- End Column 3 -->

                                    <!-- Start Column 4 -->
                                    <div class="mb-5 col-12 col-lg-3 col-md-4">
                                        <a class="product-item" href="#">
                                            <img src="images/product-3.png" class="img-fluid product-thumbnail">
                                            <h3 class="product-title">Ergonomic Chair</h3>
                                            <strong class="product-price">$43.00</strong>

                                            <span class="icon-cross">
                                                <img src="images/cross.svg" class="img-fluid">
                                            </span>
                                        </a>
                                    </div>
                                    <!-- End Column 4 -->


                                    <!-- Start Column 1 -->
                                    <div class="mb-5 col-12 col-lg-3 col-md-4">
                                        <a class="product-item" href="#">
                                            <img src="images/product-3.png" class="img-fluid product-thumbnail">
                                            <h3 class="product-title">Nordic Chair</h3>
                                            <strong class="product-price">$50.00</strong>

                                            <span class="icon-cross">
                                                <img src="images/cross.svg" class="img-fluid">
                                            </span>
                                        </a>
                                    </div>
                                    <!-- End Column 1 -->

                                    <!-- Start Column 2 -->
                                    <div class="mb-5 col-12 col-lg-3 col-md-4">
                                        <a class="product-item" href="#">
                                            <img src="images/product-1.png" class="img-fluid product-thumbnail">
                                            <h3 class="product-title">Nordic Chair</h3>
                                            <strong class="product-price">$50.00</strong>

                                            <span class="icon-cross">
                                                <img src="images/cross.svg" class="img-fluid">
                                            </span>
                                        </a>
                                    </div>
                                    <!-- End Column 2 -->

                                    <!-- Start Column 3 -->
                                    <div class="mb-5 col-12 col-lg-3 col-md-4">
                                        <a class="product-item" href="#">
                                            <img src="images/product-2.png" class="img-fluid product-thumbnail">
                                            <h3 class="product-title">Kruzo Aero Chair</h3>
                                            <strong class="product-price">$78.00</strong>

                                            <span class="icon-cross">
                                                <img src="images/cross.svg" class="img-fluid">
                                            </span>
                                        </a>
                                    </div>
                                    <!-- End Column 3 -->

                                    <!-- Start Column 4 -->
                                    <div class="mb-5 col-12 col-lg-3 col-md-4">
                                        <a class="product-item" href="#">
                                            <img src="images/product-3.png" class="img-fluid product-thumbnail">
                                            <h3 class="product-title">Ergonomic Chair</h3>
                                            <strong class="product-price">$43.00</strong>

                                            <span class="icon-cross">
                                                <img src="images/cross.svg" class="img-fluid">
                                            </span>
                                        </a>
                                    </div>
                                    <!-- End Column 4 -->

                                </div>
                            </div>
                        </div>

                        <div class="justify-content-center row">
                            <div class="col-12">
                                <!-- Pagination -->
                                <nav aria-label="navigation">
                                    <ul class="justify-content-center pagination">
                                        <li class="active page-item"><a class="page-link" href="#">01</a></li>
                                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                                        <li class="page-item"><a class="page-link" href="#">04</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Main Content Wrapper End ##### -->
            <th:block layout:fragment="scripts"></th:block>
    </body>

</html>