<footer class="site-footer" th:fragement="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
                    Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a
                        href="https://themewagon.com">themewagon</a>
                </p>
            </div>
        </div>
    </div>
</footer>