<div th:fragment="sidebar">
    <div class="bg-light p-3 sidebar" style="width: 250px; height: 100vh;">
        <div class="sidebar-section">
            <h4 class="mb-3 text-primary">Furni Admin</h4>
            <ul class="flex-column nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">Danh mục</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">Đơn hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Khách hàng</a>
                </li>
            </ul>
        </div>
    </div>
</div>