<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="admin/fragments/head :: head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quản lý Danh mục sản phẩm</title>
    </head>

    <body>
        <div class="d-flex wrapper">
            <!-- Sidebar -->
            <div th:replace="admin/fragments/sidebar :: sidebar" class="sidebar-container"></div>

            <div class="flex-grow-1 main-content">
                <!-- Navbar -->
                <nav th:replace="admin/fragments/navbar :: navbar"></nav>

                <!-- Content here -->
                <div class="p-1 min-vh-100 content">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h2 class="text-center">Chi tiết danh mục</h2>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <form th:action="@{/admin/categories/edit/{id}(id=${category.id})}"
                                            th:object="${category}" method="post">
                                            <input type="hidden" name="_method" value="PUT" />
                                            <input type="hidden" name="id" value="${category.id}" />
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Tên danh mục</label>
                                                <input type="text" name="name" th:field="*{categoryName}"
                                                    class="form-control" id="name" />
                                            </div>

                                            <div class="mb-3">
                                                <label for="description" class="form-label">Mô tả</label>
                                                <input type="text" name="description" th:field="*{description}"
                                                    class="form-control" id="description" />
                                            </div>

                                            <!-- <div class="mb-3">
                                                <label for="status" class="form-label">Trạng thái</label>
                                                <select name="status" th:field="*{status}" class="form-select"
                                                    id="status">
                                                    <option value="0">Khóa</option>
                                                    <option value="1">Kích hoạt</option>
                                                </select>
                                            </div> -->

                                            <div class="mb-3">
                                                <button type="submit" class="btn btn-primary">Lưu</button>
                                                <a href="/admin/categories" class="btn btn-secondary">Quay lại</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- <div th:replace="admin/fragments/scripts :: scripts"></div> -->
    </body>

</html>